
/** for debugging. to highlight misspelled locations
a.sobreLink:not(:hover) {
  color:black !important;
}
*/

.genericMap-marker {
  background-image:url(./icons/pokemonCompletionIconSheet.png); /* overwrite *IconSheet.css */
  box-sizing: content-box;
  transform-origin:0% 0%;
}


.leaflet-map-pane .genericMap-marker.cat-default {
  border:2px solid rgba(255,0,0,1);
  background-color:rgba(255,0,0,0.5);
}

.leaflet-map-pane .genericMap-marker.cat-cyan {
  border:2px solid rgba(0,255,255,1);
  background-color:rgba(0,255,255,0.5);
}
.leaflet-map-pane .genericMap-marker {
  border-radius:6px;
}
.leaflet-map-pane .genericMap-marker.icon-64x64 {
  border-radius:12px;
}

.leaflet-map-pane .genericMap-marker.cat-pink {
  border:2px solid rgba(255,0,255,1);
  background-color:rgba(255,0,255,0.5);
}
.leaflet-map-pane .genericMap-marker.cat-orange {
  border:2px solid rgba(255,122,122,1);
  background-color:rgba(255,122,122,0.5);
}

:root {
	--iconSize:32;
	--iconScale:1;
  --mapLabelFontSizeScale:1;
}

.icon-10x10 {
  transform-origin:0% 0%;
  transform:scale3d(calc(var(--iconSize) / 10 * var(--iconScale)), calc(var(--iconSize) / 10 * var(--iconScale)), 1);
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
}
.icon-16x16 {
  transform-origin:0% 0%;
  transform:scale3d(calc(var(--iconSize) / 16 * var(--iconScale)), calc(var(--iconSize) / 16 * var(--iconScale)), 1);
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
}
.icon-16x32 {
  transform-origin:0% 0%;
  transform:scale3d(calc(var(--iconSize) / 16 * var(--iconScale)), calc(var(--iconSize) / 32 * var(--iconScale)), 1);
}
.icon-32x16 {
  transform-origin:0% 0%;
  transform:scale3d(calc(var(--iconSize) / 32 * var(--iconScale)), calc(var(--iconSize) / 16 * var(--iconScale)), 1);
}
.icon-24x24 {
  transform-origin:0% 0%;
  transform:scale3d(calc(var(--iconSize) / 24 * var(--iconScale)), calc(var(--iconSize) / 24 * var(--iconScale)), 1);
}
.icon-32x32 {
  transform-origin:0% 0%;
  transform:scale3d(calc(var(--iconSize) / 32 * var(--iconScale)), calc(var(--iconSize) / 32 * var(--iconScale)), 1);
}
.icon-48x48 {
  transform-origin:0% 0%;
  transform:scale3d(calc(var(--iconSize) / 48 * var(--iconScale)), calc(var(--iconSize) / 48 * var(--iconScale)), 1);
}
.icon-48x64 {
  transform-origin:0% 0%;
  transform:scale3d(calc(var(--iconSize) / 48 * var(--iconScale)), calc(var(--iconSize) / 64 * var(--iconScale)), 1);
}
.icon-48x32 {
  transform-origin:0% 0%;
  transform:scale3d(calc(var(--iconSize) / 48 * var(--iconScale)), calc(var(--iconSize) / 32 * var(--iconScale)), 1);
}
.icon-32x48 {
  transform-origin:0% 0%;
  transform:scale3d(calc(var(--iconSize) / 32 * var(--iconScale)), calc(var(--iconSize) / 48 * var(--iconScale)), 1);
}
.icon-64x64 {
  transform-origin:0% 0%;
  transform:scale3d(calc(var(--iconSize) / 64 * var(--iconScale)), calc(var(--iconSize) / 64 * var(--iconScale)), 1);
}
.icon-64x32 {
  transform-origin:0% 0%;
  transform:scale3d(calc(var(--iconSize) / 64 * var(--iconScale)), calc(var(--iconSize) / 32 * var(--iconScale)), 1);
}
.icon-32x64 {
  transform-origin:0% 0%;
  transform:scale3d(calc(var(--iconSize) / 32 * var(--iconScale)), calc(var(--iconSize) / 64 * var(--iconScale)), 1);
}
.leaflet-popup-content {
  margin-left: 13px !important; /*save a bit of space*/
}

.flyToPin {
  width:20px;
  text-align:center;
  border:1px solid rgba(255,255,255,0.5);
  cursor:pointer;
}
.flyToPin:hover {
  opacity:0.8;
}

a:hover {
  text-decoration: underline;
}

.checkbox {
  margin-bottom:10px;
  cursor:pointer;
}
.checkbox * {
  cursor:pointer;
}
.checkbox-container label {
  display:block;
  margin-bottom:5px;
}
.checkbox-container * {
  cursor:pointer;
}
.settingsUl * {
  cursor: pointer;
}
.settingsUl li {
  margin-bottom:10px;
}
.radioLi label {
  margin-right:10px;
}

.div-section {
  margin-bottom:20px
}

a.sobreLink:not(:hover) {
  text-decoration-style: dotted !important;
  color:white;
}

.collectableComplete {
  color:#006400;
  font-weight:bold;
}

.externalLinkIcon img {
  transform: scale(1.4,1.4);
}

.cs-red {
  color: #FF9999;;
  text-shadow: 0.1em  0.1em 0 #000;
}

.cs-orange {
	color: #f0ad4e;
  text-shadow: 0.1em  0.1em 0 #000;
}
.cs-green {
  color: #99FF99;
  text-shadow: 0.1em  0.1em 0 #000;
}

.children-has-padding div {
  padding-bottom:5px;
  padding-top:5px;
}

.clickable, .clickable * {
	cursor:pointer;
  pointer-events:all;
}

:root, html[data-theme='light'] {
	--clight: #f5f6f7;
	--cmed:  #d1d1d1;
	--clink: #07c;
	--cemph: #022;
}


@media (max-width: 768px) {
  .noPaddingIfSmallDevice {
    padding-left: 0px !important;
  }
  .hiddenIfSmallDevice {
    display:none;
  }
}

.dangerBtn {
  background-color:rgb(255,150,150);
  border-color:red;
}

.pk-root-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 2.5vw;
  padding-left: 2.5vw;
  padding-bottom:15px;
  max-width:100%;
  width:95vw;
}

.pk-root-container.compactView {
  margin-left: 0;
  margin-right: 0;
  padding-right: 5px;
  padding-left: 5px;
}

.compactView .td-location {
   white-space: nowrap;
   overflow: hidden;
}

/* forms and inputs  */
input[type=checkbox]:not(#myMap *) {
  width:18px;
  height:18px;
}

label.button:not(#myMap *), 
button:not([disabled]):hover:not(#myMap *) {
	filter: brightness(92%);
  color: var(--cemph);
  border-color: var(--cemph);
}

textarea:not(#myMap *), 
input:not([type=range]):not(#myMap *), 
label.button:not(#myMap *), 
button:not(#myMap *), 
select:not(#myMap *) {
	border-radius: 4px;
	border: 1.5px solid var(--cmed);
	padding: 0.4em 0.8em;
	background-color: var(--clight);
}
input:not([type=checkbox]):not([type=radio]):not(#myMap *) {
	display: block;
	width: 100%;
	margin: 0 0 1rem;
}
button:not(#myMap *), 
label.button:not(#myMap *), 
select:not(#myMap *) {
	margin: .5em;
	border: 1.5px solid var(--clink);
}
button:not(#myMap *), 
label.button:not(#myMap *) { 
  padding: 0.4em 1em; 
  letter-spacing: 0.1em; 
}

textarea:hover:not(#myMap *), 
input:not([type=checkbox]):not([type*='ra']):hover:not(#myMap *), 
select:hover:not(#myMap *) {
  border: 1.5px solid var(--cemph);
}

textarea:focus:not(#myMap *), 
input:not([type=checkbox]):not([type*='ra']):focus:not(#myMap *){
	border: 1.5px solid var(--clink);
	box-shadow: 0 0 5px var(--clink);
}
