
{{> ../common/header.hbs}}

<body>
  <div id="nav-slot"></div>
  <div id="analyticts-slot"></div>

  <div class="root-container">
    <%- locals.clientData.content %>
  </div>
  

{{> ../common/footer.hbs}}
