

{{> ../../common/header.hbs}}

<style>
  .mytable th, .mytable td {
    border: 1px solid black;
    text-align:center;
  }
  .mytable th, .mytable td:first-child {
    text-align:left;
    padding:3px;
  }
</style>

<body class="darkTheme">
  <div id="nav-slot"></div>

  <div class="root-container">
    <h3>Foreign Pokédex Entries in Pokémon Black 2</h3>
    <br>
    <h4>Objective</h4>
    <p>
      To fully complete the Pokémon Black 2 Pokédex, players must obtain the first 493 Pokémon originating from an English, Japanese, French, Italian, German, Spanish, and Korean game.
    </p>
    <p>
      Pokémon introduced in Generation V (national dex greater than 493) don't have foreign Pokédex entries.
    </p>

    <h4>Info</h4>
    <ul>
      <li>
        To get Pokémons in all languages originating from GBA and DS games, you'll need to own a copy of the game in all of the 7 languages.
      </li>
      <li>
        To get Pokémons in all languages originating from GameCube and WII games, you'll need to own a console and the game of PAL and Japan regions. PAL games can give Pokémons in English, French, Italian, German, and Spanish, based on the selected console language.
      </li>
    </ul>

    <h4>Requirements</h4>
    <div>To get all Pokémons in all languages, you'll need:</div>
    <ul>
      <li>(Ruby and Sapphire) or Emerald or (HeartGold and SoulSilver): For Kyogre, Groudon</li>
      <li>(Diamond and Pearl) or (Diamond and Platinum) or (Pearl and Platinum): To transfer Mew from My Pokémon Ranch, and for Dialga and Palkia</li>
      <li>My Pokémon Ranch: For Mew</li>
      <li>(LeafGreen and XD and Colosseum) or (FireRed and XD and Colosseum) or HeartGold or SoulSilver: For Mewtwo, Ho-Oh and Lugia</li>
    </ul>
    <br>
    <div>You will also need:</div>
    <ul>
      <li>Colosseum JP and Pokémon Colosseum Bonus Disc JP: For Japanese Celebi</li>
      <li>Event giving Celebi for English, French, Italian, German, and Spanish</li>

      <li>Pokémon Channel (PAL): For Jirachi in English, French, Italian, German, and Spanish.</li>
      <li>Event giving Japanese Jirachi</li>
      <li>Event giving Deoxys for all languages
        <ul>
          <li>AuroraTicket event from Emerald (except JP), FireRed or LeafGreen.</li>
          <li>or Deoxys and the Odd Temple event mission in Pokémon Rangers: Guardian Signs.</li>
          <li>or other events (ex: Oblivia Normal Forme Deoxys in Diamond)</li>
        </ul>
      </li>
      <li>Korean SoulSilver: For Korean Groudon and Latios</li>
    </ul>

    <h4>Guide</h4>
    <ul>
      <li>In Black 2 English, get all Pokémons by following the <a href="/completion/Black2">Black 2 100% Checklist Guide</a>.</li>
      <li>For each language, trade all breedable Pokémon caught in Black 2 English, and hatch an egg in the other language game. Then transfer the hatched Pokémon back to Black 2 English.
      <ul>
        <li>This covers all Pokémon except unbreedable ones: Articuno, Zapdos, Moltres, Mewtwo, Mew, Unown, Raikou, Entei, Suicune, Lugia, Ho-Oh, Celebi, Regirock, Regice, Registeel, Latias, Latios, Kyogre, Groudon, Rayquaza, Jirachi, Deoxys, Uxie, Mesprit, Azelf, Dialga, Palkia, Heatran, Regigigas, Giratina, Cresselia, Darkrai, Shaymin, Arceus.</li>
      </ul></li>
      <li>
        Play Emerald in every language except Korean, to get Regirock, Regice, Registeel, Latios, Rayquaza, Kyogre, and Groudon.
      </li>
      <li>
        Play HeartGold in every language, to get Articuno, Zapdos, Moltres, Mewtwo, Unown, Raikou, Entei, Suicune, Ho-Oh, Lugia, and Latias.
      </li>
      <li>
        In Korean HeartGold, get Korean Kyogre and Rayquaza.
      </li>
      <li>
        Play Korean SoulSilver, to get Korean Groudon and Latios.
      </li>
      <li>
        Play Platinum in every language, to get Uxie, Mesprit, Azelf, Dialga, Palkia, Heatran, Giratina, Cresselia, Regigigas. Also get Deoxys, Darkrai, Shaymin, Arceus from event. For all languages except Japanese, also get Celebi from event.
      </li>
      <li>
        In Korean Platinum, trade a Regigigas from English Platinum to get Regirock, Regice, Registeel. 
      </li>
      <li>
        Play Japanese Pokémon Colosseum and Pokémon Colosseum Bonus Disc JP to get Japanese Celebi.
      </li>
      <li>
        Play Diamond in every language except Korean, play Diamond until being able to trade. Connect to My Pokémon Ranch to obtain Mew. Get Japanese and Korean Jirachi from event. Get Korean Mew from event.
      </li>
      <li>
        Play Pokémon Channel in every language except Japanese, to get Jirachi.
      </li>
      <li>
        <span style="font-weight:bold">Total playthroughs:</span> x6 Emerald, x7 HeartGold, x7 Platinum, x1 Pokémon Colosseum, x5 Pokémon Channel, x1 Black 2, x1 SoulSilver.
      </li>
    </ul>
    <br>
    <table class="mytable">
      <tr><th>↓ Pokémon \ Language →</th><th>English</th><th>Japanese</th><th>French</th><th>Italian</th><th>German</th><th>Spanish</th><th>Korean</th></tr>
      <tr><td>Articuno</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td></tr>
      <tr><td>Zapdos</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td></tr>
      <tr><td>Moltres</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td></tr>
      <tr><td>Mewtwo</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td></tr>
      <tr><td>Mew</td><td>Ranch</td><td>Ranch</td><td>Ranch</td><td>Ranch</td><td>Ranch</td><td>Ranch</td><td>D Event</td></tr>
      <tr><td>Unown</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td></tr>
      <tr><td>Raikou</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td></tr>
      <tr><td>Entei</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td></tr>
      <tr><td>Suicune</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td></tr>
      <tr><td>Lugia</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td></tr>
      <tr><td>Ho-Oh</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td></tr>
      <tr><td>Celebi</td><td>Pt Event</td><td>Colosseum</td><td>Pt Event</td><td>Pt Event</td><td>Pt Event</td><td>Pt Event</td><td>Pt Event</td></tr>
      <tr><td>Regirock</td><td>E</td><td>E</td><td>E</td><td>E</td><td>E</td><td>E</td><td>Pt</td></tr>
      <tr><td>Regice</td><td>E</td><td>E</td><td>E</td><td>E</td><td>E</td><td>E</td><td>Pt</td></tr>
      <tr><td>Registeel</td><td>E</td><td>E</td><td>E</td><td>E</td><td>E</td><td>E</td><td>Pt</td></tr>
      <tr><td>Latias</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td><td>HG</td></tr>
      <tr><td>Latios</td><td>E</td><td>E</td><td>E</td><td>E</td><td>E</td><td>E</td><td>SS</td></tr>
      <tr><td>Kyogre</td><td>E</td><td>E</td><td>E</td><td>E</td><td>E</td><td>E</td><td>HG</td></tr>
      <tr><td>Groudon</td><td>E</td><td>E</td><td>E</td><td>E</td><td>E</td><td>E</td><td>SS</td></tr>
      <tr><td>Rayquaza</td><td>E</td><td>E</td><td>E</td><td>E</td><td>E</td><td>E</td><td>HG</td></tr>
      <tr><td>Jirachi</td><td>Channel</td><td>D Event</td><td>Channel</td><td>Channel</td><td>Channel</td><td>Channel</td><td>D Event</td></tr>
      <tr><td>Deoxys</td><td>Pt Event</td><td>Pt Event</td><td>Pt Event</td><td>Pt Event</td><td>Pt Event</td><td>Pt Event</td><td>Pt Event</td></tr>
      <tr><td>Uxie</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td></tr>
      <tr><td>Mesprit</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td></tr>
      <tr><td>Azelf</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td></tr>
      <tr><td>Dialga</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td></tr>
      <tr><td>Palkia</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td></tr>
      <tr><td>Heatran</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td></tr>
      <tr><td>Regigigas</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td></tr>
      <tr><td>Giratina</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td></tr>
      <tr><td>Cresselia</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td><td>Pt</td></tr>
      <tr><td>Darkrai</td><td>Pt Event</td><td>Pt Event</td><td>Pt Event</td><td>Pt Event</td><td>Pt Event</td><td>Pt Event</td><td>Pt Event</td></tr>
      <tr><td>Shaymin</td><td>Pt Event</td><td>Pt Event</td><td>Pt Event</td><td>Pt Event</td><td>Pt Event</td><td>Pt Event</td><td>Pt Event</td></tr>
      <tr><td>Arceus</td><td>Pt Event</td><td>Pt Event</td><td>Pt Event</td><td>Pt Event</td><td>Pt Event</td><td>Pt Event</td><td>Pt Event</td></tr>
    </table>


  

{{> ../../common/footer.hbs}}
