
.mainDiv>div {
  padding-left:10px;
  padding-bottom:20px;
}

.mainDiv>div>div {
  padding-left:10px;
}

.indented {
  padding-left:20px;
}



th {
  text-align: left;
}

.c-large {
  color: #FF9999;;
  text-shadow: 0.1em  0.1em 0 #000;
}

.c-medium {
	color: #f0ad4e;
  text-shadow: 0.1em  0.1em 0 #000;
}
.c-small {
  color: #99FF99;
  text-shadow: 0.1em  0.1em 0 #000;
}

