

{{> ../../common/header.hbs}}

<body class="darkTheme">
  <div id="nav-slot"></div>

  <div class="root-container">
    <h3>Foreign Pokédex Entries in Pokémon Platinum</h3>
    <h4>Objective</h4>
    <p>
      To fully complete the Pokémon Platinum Pokédex, players must obtain all Pokémon originating from an English, Japanese, French, Italian, German, and Spanish game.
    </p>

    <h4>Info</h4>
    <ul>
      <li>
        To get Pokémons in all languages originating from GBA and DS games, you'll need to own a copy of the game in all of the 6 languages.
      </li>
      <li>
        To get Pokémons in all languages originating from GameCube and WII games, you'll need to own a console and the game of PAL and Japan regions. PAL games can give Pokémons in English, French, Italian, German, and Spanish, based on the selected console language.
      </li>
    </ul>

    <h4>Requirements</h4>
    <div>To get all Pokémons in all languages, you'll need:</div>
    <ul>
      <li>(Ruby and Sapphire) or Emerald or (HeartGold and SoulSilver): For Latias, Latios, Kyogre, Groudon</li>
      <li>(Diamond and Pearl) or (Diamond and Platinum) or (Pearl and Platinum): To transfer Mew from My Pokémon Ranch, and for Dialga and Palkia</li>
      <li>My Pokémon Ranch: For Mew</li>
      <li>(LeafGreen and XD and Colosseum) or (FireRed and XD and Colosseum) or HeartGold or SoulSilver: For Mewtwo, Ho-Oh and Lugia</li>
    </ul>
    <br>
    <div>You will also need:</div>
    <ul>
      <li>Colosseum JP and Pokémon Colosseum Bonus Disc JP: For Japanese Celebi</li>
      <li>Event giving Celebi for English, French, Italian, German, and Spanish</li>

      <li>Pokémon Channel (PAL): For Jirachi in English, French, Italian, German, and Spanish.</li>
      <li>Event giving Japanese Jirachi</li>
      <li>Event giving Deoxys for all languages
        <ul>
          <li>AuroraTicket event from Emerald (except JP), FireRed or LeafGreen.</li>
          <li>or Deoxys and the Odd Temple event mission in Pokémon Rangers: Guardian Signs.</li>
          <li>or other events</li>
        </ul>
      </li>
    </ul>

    <h4>Guide</h4>
    <ul>
      <li>In Platinum English, get all Pokémons by following the <a href="/completion/Platinum">Platinum 100% Checklist Guide</a>.</li>
      <li>For each language, trade all breedable Pokémon caught in Platinum English, and hatch an egg in the other language game. Then transfer the hatched Pokémon back to Platinum English.
      <ul>
        <li>This covers all Pokémon except unbreedable ones: Articuno, Zapdos, Moltres, Mewtwo, Mew, Unown, Raikou, Entei, Suicune, Lugia, Ho-Oh, Celebi, Regirock, Regice, Registeel, Latias, Latios, Kyogre, Groudon, Rayquaza, Jirachi, Deoxys, Uxie, Mesprit, Azelf, Dialga, Palkia, Heatran, Regigigas, Giratina, Cresselia, Darkrai, Shaymin, Arceus.</li>
      </ul></li>
      <li>
        For each language, play Emerald to get Regirock, Regice, Registeel, Latias, Rayquaza, Kyogre, and Groudon. Also get Deoxys from event.
      </li>
      <li>
        For each language, play HeartGold to get Articuno, Zapdos, Moltres, Unown, Raikou, Entei, Suicune, Latios, Mewtwo, Ho-Oh, and Lugia.
      </li>
      <li>
        For each language, play Platinum to get Uxie, Mesprit, Azelf, Dialga, Palkia, Heatran, Giratina, Cresselia, Regigigas. Also get Darkrai, Shaymin, Arceus from event. For all languages except Japanese, also get Celebi from event.
      </li>
      <li>
        Get Celebi from Pokémon Colosseum and Pokémon Colosseum Bonus Disc JP.
      </li>
      <li>
        For each language, play Diamond until being able to trade. Use Diamond to connect to My Pokémon Ranch to obtain Mew.
      </li>
      <li>
        For all languages except Japanese, get Jirachi from Pokémon Channel.
      </li>
      <li>
        Get Jirachi from Japanese event.
      </li>
      <li>
        <span style="font-weight:bold">Total playthroughs:</span> x6 Emerald, x6 HeartGold, x6 Platinum, x1 Pokémon Colosseum, x5 Pokémon Channel.
      </li>
    </ul>
    <br>


    <br>
    <h4>Korean Platinum</h4>
    <div>
      <ul>
        <li>In Korean Platinum, Pokédex entries also exist in Korean, for a total of 7 languages (Korean, English, Japanese, French, Italian, German, and Spanish).</li>
        <li>Korean DS games can't trade with Non-Korean DS games.</li>
        <li>Korean DS games can trade with GBA games of any language.</li>
        <li>It is possible to obtain all Pokédex entries in all languages because DS events were also released in Korea.</li>
        <li>Korean Mew can't be obtained from My Pokémon Ranch, because My Pokémon Ranch doesn't exist in Korean. An event if required.</li>
      </ul>
    </div>

  

{{> ../../common/footer.hbs}}
