{{> ../../common/header.hbs}}

<body class="darkTheme">
<div id="nav-slot"></div>

<style>
.table {
  border-spacing:0px;
}
.table td {
  border:0.5px solid white;
  padding:4px;
}
.table tr:first-child {
  font-weight:bold;
}
.no-indent-on-mobile {
  margin-left:-50px;
}


@media (min-width: 576px) {
  .no-indent-on-mobile {
    margin-left:0px;
  }
}
.table ul {
  padding-left:5px;
  list-style-type: none;
}
.pokemon-title a {
  color:rgba(200,200,200,1);
  text-decoration: none !important;
}
.pokemon-title span:first-of-type {
  color:rgba(200,200,200,1);
}

.pokemon-title a:hover {
  opacity:0.8;
  text-decoration: underline !important;
}

</style>

<div class="root-container">
  <h2 class="pokemon-title">
    <a href="/VersionCompatibility"><span>Pokémon Version Compatibility</span></a><span>▸</span><span>Generation III</span>
  </h2>
  <h2>Pokémon Generation III Version Compatibility</h2>
  <p>This page lists all Pokémon Generation III game versions and accessories for all consoles. It also explains what game versions are compatible.</p>

  <h3>Game Boy Advance (GBA)</h3>
  <h4>Console</h4>
  <ul>
    <li>GBA console are same world-wide and can play any game versions.</li>
  </ul>

  <h4>Game Versions</h4>
  <div>Pokémon Ruby, Sapphire, Emerald, LeafGreen, FireRed games each have 6 versions based on language.</div>
  <ul>
    <li>
      English (The US, Canada, UK, Australia retail boxes are different, but the GBA cartridge content is the same.)
    </li>
    <li>Japanese</li>
    <li>French</li>
    <li>Italian</li>
    <li>Spanish</li>
    <li>German</li>
  </ul>

  <h4>Accessories</h4>
  <ul>
    <li><span class="bold">Game link cables:</span> They are the same world-wide and can be used on any game versions and consoles.</li>
    <li><span class="bold">Wireless adapters:</span> They are the same world-wide and can be used on any game versions and consoles. They only work on Emerald, FireRed and LeafGreen games.</li>
    <li><span class="bold">e-Reader:</span>
      <ul>
        <li>e-Reader has 3 versions: Japanese (GBA support), Japanese (GBA+Game Cube support) and English (GBA+Game Cube support).</li>
        <li>e-Reader cards are either Japanese or English.</li>
        <li>Japanese e-Reader only works with Japanese GBA games and can only read Japanese e-Reader cards.</li>
        <li>English e-Reader only works with English GBA games and can only read English e-Reader cards.</li>
        <li>French, Italian, Spanish, German GBA games can't read e-Reader cards.</li>
      </ul>
      <br>
      <table class="table no-indent-on-mobile">
        <tr><td>↓ e-Reader Cards \ GBA →</td><td>Ruby, Sapphire English</td><td>Ruby, Sapphire Japanese</td><td>Emerald Japanese</td><td>Colosseum Japanese</td><td>FireRed, LeafGreen Japanese</td></tr>

        <tr>
          <td><a href="https://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_Battle_e:_Series_1" target="_blank" rel="noopener">Pokémon Battle e: Series 1 (EN)</a><br><ul><li>Berry and Trainer Cards</li></ul></td>
          <td>Yes</td><td></td><td></td><td></td><td></td></tr>
        <tr><td><a href="https://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_Battle_e_Promotional_cards"  target="_blank" rel="noopener">Pokémon Battle e: Series Promo (EN)</a><br><ul><li>Eon Ticket</li></ul></td>
          <td>Yes</td><td></td><td></td><td></td><td></td></tr>

        <tr><td><a href="https://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_Battle_e:_Series_1" target="_blank" rel="noopener">Pokémon Battle e: Series 1 (JP)</a><br><ul><li>Berry and Trainer Cards</li></ul></td>
          <td></td><td>Yes</td><td></td><td></td><td></td></tr>

        <tr><td><a href="https://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_Battle_e:_Series_2" target="_blank" rel="noopener">Pokémon Battle e: Series 2 (JP)</a><br><ul><li>Berry and Trainer Cards</li></ul></td>
          <td></td><td>Yes</td><td></td><td></td><td></td></tr>

        <tr><td><a href="https://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_Battle_e_Promotional_cards"  target="_blank" rel="noopener">Pokémon Battle e: Series Promo (JP)</a><br><ul><li>Decoration Present (Regi Dolls)</li></ul></td>
          <td></td><td>Yes</td><td></td><td></td><td></td></tr>

        <tr><td><a href="https://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_Battle_e_FireRed_%26_LeafGreen"  target="_blank" rel="noopener">Pokémon Battle e Emerald (JP)</a><br><ul><li>Trainer Cards</li></ul></td>
          <td></td><td></td><td>Yes</td><td></td><td></td></tr>

        <tr><td><a href="https://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_Colosseum_Double_Battle_e"  target="_blank" rel="noopener">Pokémon Colosseum Double Battle e Colosseum (JP)</a><br><ul><li>Shadow Togepi, Mareep, Scizor</li></ul></td>
          <td></td><td></td><td></td><td>Yes</td><td></td></tr>

        <tr><td><a href="https://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_Battle_e_FireRed_%26_LeafGreen"  target="_blank" rel="noopener">Pokémon Battle e FireRed & LeafGreen (JP)</a><br><ul><li>Trainer Cards</li></ul></td>
          <td></td><td></td><td></td><td></td><td>Yes</td></tr>
      </table>
    </li>
  </ul>


  <h4>Game Boy Color-GBA Interactions</h4>
  <ul>
    <li><span class="bold">Trade & Battle:</span> Impossible. Pokémons from Generation 1 and 2 games can't be traded or transfered to Generation 3 games.</li>
  </ul>

  <h4>GBA-GBA Interactions</h4>
  <ul>
    <li><span class="bold">Trade:</span> Any GBA game can trade with any GBA game from any language.</li>
    <li><span class="bold">Link Battle:</span> Any GBA game can battle with any GBA game from any language.</li>
    <li><span class="bold">Record mixing (Ruby, Sapphire, Emerald):</span> Any GBA game can mix record with any GBA game, EXCEPT that NTSC-J Ruby/Sapphire can't mix record with NTSC-U or PAL Ruby/Sapphire.</li>
    <li><span class="bold">Berry Blender (Ruby, Sapphire, Emerald):</span> Any GBA game can play berry blender with any GBA game.</li>
    <li><span class="bold">Contest (Ruby, Sapphire, Emerald):</span> Any GBA game can compete in Pokémon Contest with any GBA game. The contest has two modes: E-Mode which requires Emerald on all GBA, and G-mode which is available with all RSE games.</li>
    <li><span class="bold">Game Corner (Emerald, FireRed, LeafGreen):</span> Any GBA game can play with any GBA game.</li>
  </ul>

  <h3>Game Cube</h3>
  <h4>Console</h4>
  <div>The Game Cube has 5 versions.</div>
  <ul>
    <li><span class="bold">NTSC-J (Japan):</span> Japanese language (unchangeable)</li>
    <li><span class="bold">NTSC-U (The Americas and Asia):</span> English language (unchangeable)</li>
    <li><span class="bold">PAL-M (Brazil):</span> Portuguese language (unchangeable)
      <ul><li>This Game Cube version can run the same games as the NTSC-U Game Cube and Brazil-exclusive games (none of which are Pokémon games). NTSC-U Pokémon games that are ran on this Game Cube version are in English.</li></ul></li>
    <li><span class="bold">PAL (Europe and Oceania):</span> It is possible to change the language for English, German, French, Spanish, Italian, Dutch.</li>
    <li><span class="bold">NTSC-K (South Korea):</span> Korean language (unchangeable)
      <ul><li>No Pokémon games were released for the Korean Game Cube.</li></ul></li>
  </ul>


  <h4>Accessories</h4>
  <ul>
    <li><span class="bold">Game Cube Controllers:</span> They are the same world-wide and can be used on any console version.</li>
    <li><span class="bold">Game Cube to GBA Link Cable:</span> They are the same world-wide and can be used on any console version.</li>
    <li><span class="bold">Memory Card:</span>
      <ul>
        <li>They are the same world-wide and can be used on any console version.</li>
        <li>A memory card must be formatted before being used. The format of the card can be changed multiple times, but doing so removes all its data.</li>
        <li>There are two possible formats: SJIS (for NTSC-J) and Windows-1252 (for NTSC-U/PAL/PAL-M). (Possibly a 3rd format for NTSC-K?)</li>
        <li>This means a NTSC-J and NTSC-U saves can't coexist on the same card.</li>
      </ul>
    </li>
  </ul>

  <h4>Game Versions</h4>
  <div>A Game Cube game is specific to a region and can only be played on a Game Cube of that region.</div>
  <br>
  <h5>Pokémon Colosseum and Pokémon XD</h5>
  <div>They exist in 3 versions each based on region: </div>
  <ul>
    <li><span class="bold">NTSC-J (Japan):</span> Japanese language</li>
    <li><span class="bold">NTSC-U (The Americas and Asia):</span> English language</li>
    <li><span class="bold">PAL (Europe and Oceania):</span> Uses the Game Cube language (English, German, French, Spanish, Italian). If the Game Cube is set to Dutch, the game will be in English.</li>
  </ul>

  <h5>Pokémon Colosseum Bonus Disc</h5>
  <div>It exists in 3 versions based on region: </div>
  <ul>
    <li><span class="bold">NTSC-J (Japan):</span> Gives Celebi. Requires Pokémon Colosseum NTSC-J game.</li>
    <li><span class="bold">NTSC-U (The Americas and Asia):</span> Gives Jirachi. Doesn't require Pokémon Colosseum NTSC-U.</li>
    <li><span class="bold">PAL (Europe and Oceania):</span> Gives nothing noteworthy.</li>
  </ul>

  <h5>Pokémon Channel</h5>
  <div>It exists in 3 versions based on region: </div>
  <ul>
    <li><span class="bold">NTSC-J (Japan):</span> Gives nothing noteworthy.</li>
    <li><span class="bold">NTSC-U (The Americas and Asia):</span> Gives nothing noteworthy.</li>
    <li><span class="bold">PAL (Europe and Oceania):</span> Gives Jirachi.</li>
  </ul>

  <h5>Pokémon Box Ruby & Sapphire</h5>
  <div>It exists in 3 versions based on region. Despite its name, it can trade with all Generation 3 GBA games.</div>
  <ul>
    <li><span class="bold">NTSC-J (Japan):</span> Japanese. Can be used to obtain Enigma Berry in Ruby, Sapphire or Emerald JP.</li>
    <li><span class="bold">NTSC-U (The Americas and Asia):</span> English. Can be used to obtain Enigma Berry in Ruby or Sapphire English.</li>
    <li><span class="bold">PAL (Europe and Oceania):</span> Uses the Game Cube language (English, German, French, Spanish, Italian). If the Game Cube is set to Dutch, the game will be in English. Can be used to obtain Enigma Berry in Ruby or Sapphire English.</li>
  </ul>


  <h4>Game Cube-GBA Interactions</h4>
  <div>
    <div><span class="bold">Game Interoperatibility:</span></div>

    <table class="table">
      <tr><td>↓ GBA \ Game Cube →</td><td>Colosseum</td><td>Colosseum Bonus<br>Disc US</td><td>Colosseum Bonus<br>Disc JP</td><td>XD</td><td>Channel</td><td>Box Ruby & Sapphire</td></tr>

      <tr><td>Ruby</td><td>Yes</td><td>Yes</td><td>Yes</td><td>Yes</td><td>Yes</td><td>Yes</td></tr>
      <tr><td>Sapphire</td><td>Yes</td><td>Yes</td><td>Yes</td><td>Yes</td><td>Yes</td><td>Yes</td></tr>
      <tr><td>Emerald</td><td>Yes</td><td></td><td>Yes</td><td>Yes</td><td></td><td>Yes</td></tr>
      <tr><td>LeafGreen</td><td>Yes</td><td></td><td>Yes</td><td>Yes</td><td></td><td>Yes</td></tr>
      <tr><td>FireRed</td><td>Yes</td><td></td><td>Yes</td><td>Yes</td><td></td><td>Yes</td></tr>
    </table>

    <br>

    <div><span class="bold">Trade & Pokémon Gift Transfer:</span> A Game Cube game can only connect to a GBA game of the same language.</div>

    <table class="table">
      <tr><td>↓ GBA \ Game Cube →</td><td>NTSC-U</td><td>NTSC-J</td><td>PAL</td></tr>

      <tr><td>English</td><td>Yes</td><td></td><td>Yes</td></tr>
      <tr><td>Japanese</td><td></td><td>Yes</td><td></td></tr>
      <tr><td>French</td><td></td><td></td><td>Yes</td></tr>
      <tr><td>Italian</td><td></td><td></td><td>Yes</td></tr>
      <tr><td>German</td><td></td><td></td><td>Yes</td></tr>
      <tr><td>Spanish</td><td></td><td></td><td>Yes</td></tr>
    </table>

  </div>

  <br>
  <h3>Spin-Off Games</h3>

  <h5>GBA: Pokémon Pinball Ruby & Sapphire</h5>
  <div>It exists in 3 versions based on region. They are all compatible between each other. They can't communicate with other Pokémon games.</div>
  <ul>
    <li><span class="bold">Japan:</span> Japanese language</li>
    <li><span class="bold">The Americas and Asia:</span> English language</li>
    <li><span class="bold">Europe and Oceania:</span> English, French, German, Italian or Spanish (Changeable)</li>
  </ul>

  <h5>GBA: Pokémon Mystery Dungeon: Red/Blue Rescue Team</h5>
  <div>3 versions of Red Rescue Team, and 4 versions of Blue Rescue Team, exist. They are based on region. They can only directly communicate with games of the same region. They can't communicate with other Pokémon games.</div>
  <ul>
    <li><span class="bold">Japan:</span> Japanese language</li>
    <li><span class="bold">The Americas, Asia and Oceania:</span> English language</li>
    <li><span class="bold">Europe:</span> English, French, German, Italian or Spanish (Can't be changed after initial selection)</li>
    <li><span class="bold">Korea (Blue Rescue Team only):</span> Korean language</li>
  </ul>
</div>

  

{{> ../../common/footer.hbs}}
